@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #2c5282; /* Dark blue for primary elements */
  --secondary-color: #9cb5c2; /* Light blue for secondary elements */
  --accent-color: #f7fafc; /* Light gray for accents */
  --foreground-color: #2d3748; /* Dark gray for text */
  --background-color: #edf2f7; /* Off-white for background */
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

/* :root {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
